.navbar {
  background-color: blueviolet;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 1in;
}

.nav-links {
  list-style: none;
  width: fit-content;
  display: flex;
  margin-left: 0.3in;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.active {
  border-bottom: 3px solid darkblue;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: darkblue;
}
